

<form action="/<%=@url%>" method="post">
	<form>
		<p><label for "name">What's your disk title?</label>
		<input type="text" name="album[name]" id="name" value="<%=@album.name%>"></p>
		
		<p><label for "artist">Who is the artist?</label>
		<input type="text" name="album[artist]" id="artist" value="<%=@album.artist%>" ></p>

		<p><label for "year">When did it first come out?</label>
		<input type="text" name="album[year]" id="year" value="<%=@album.year%>"></p>

		<p><input type="submit" value="Submit!"></p>
	</form>
</form>

<a href=/>Back to jukebox list</a>
